<p>
    Theo truyền thuyết của Hindu giáo, điệu múa này là vũ điệu đắm say được các nàng tiên Apsara xinh đẹp múa phục vụ các vị thần, với những động tác chậm nhưng lại rất dịu dàng, thanh thoát, duyên dáng. Những nàng tiên Apsara là vợ của các các nhạc công Gandharva ở tiên giới có nhiệm vụ múa và hát cho các vị thần, họ cũng là các tiên nữ hầu hạ của thần Indra – vua của các vị thần Ấn Độ.
</p>

<p>
    Đặc trưng của múa Apsara là một vũ nữ chính và một nhóm vũ nữ biểu diễn các điệu múa tựa như những tiên nữ đang dạo chơi tại khu vườn hồng – nơi có những tiên nữ càng làm tăng vẻ đẹp của vườn hồng. Khác với những điệu múa truyền thống của các nước trên thế giới, múa Apsara đòi hỏi những động tác múa thật chậm rãi nhưng cũng phải rất tinh tế, thì mới toát hết được vẻ đẹp của người múa và nét độc đáo của điệu múa nghệ thuật này.
</p>

<p>
        Khoảng thế kỷ thứ I, song song với Hindu giáo, điệu múa Apsara cũng du nhập vào đất nước chùa tháp và trở thành một môn nghệ thuật phát triển khá mạnh. Vào thời kỳ Angkor, điệu múa này chỉ được múa phục vụ cho các vị vua trong các ngày lễ trọng đại hay những dịp vinh danh các vị thần Hindu. Theo ghi chép vào triều đại vua Jayavarman thứ VII, số vũ nữ Apsara phục vụ trong triều đình có những khi lên tới 3.000 người – một con số khá lớn khi so sánh con số này với số dân sống tại kinh thành vào thời điểm đó.
</p>

<br/>

<p style="position: absolute; right: 10px; bottom: 0px;">
    trích "APSARA - VŨ ĐIỆU TIÊN NỮ CỦA CAMPUCHIA"
</p>