{% extends "query_dance/body.html" %}


{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="slim" %}
{% load static %}

{% block title %} index {% endblock %}

{% block body %} 
{% include 'header.html' %}
{% include 'jumpotron.html' %}
<div class="body">
        <div class="container">
            <div class="row">
                <div class="col-9" style="background-color: rgb(245, 245, 245);">
                    {% include 'query_dance/actical.html' %}
                </div>
                <div class="col-3 col-md-3" >
                    <img class="image-ot" src="{% static 'image/minhhoa.jpg' %}" />
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}